@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.BirthDate)
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(model => model.BirthDate)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.BaseSalary)
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(model => model.BaseSalary)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Department)
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(model => model.Department.Name)
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
